{% extends '../list.html' %}
{% block title %}Products{% endblock %}
{% block list_block %}
    <h1>Products</h1>

    <table class="table product-list">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
            {% for product in object_list %}
                <tr class="product" data-product-id="{{ product.id }}">
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        <button type="button" class="btn btn-primary increase-order-product">Add</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
