<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="mr-auto"></div>
        <ul class="navbar-nav">
            {% if user.is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
            {% endif %}
            <li class="nav-item {% if request.resolver_match.url_name == "product_list" %}active{% endif %}">
                <a class="nav-link" href="{% url 'product_list' %}">Products</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == "order" %}active{% endif %}">
                <a class="nav-link" href="{% url 'order' %}">Today order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav>