<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app.css' %}" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}

<script>
    window.URLS = {
        LOGIN: "{% url 'login' %}",
        PRODUCTS: "{% url 'product_list' %}",
        ORDER: "{% url 'order' %}",
    }
</script>
<script src="{% static 'app.js' %}"></script>
</body>
</html>