{% extends './base_app.html' %}
{% block title %} Products {% endblock %}
{% block content %}
    <div class="container">
        {% csrf_token %}
        {% if object_list %}
            <div class="container" style="width: 100%;">
                <br>
                <br>
                {% block list_block %}{% endblock %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                Previous
                            </a>
                        </li>
                    {% endif %}
                    {% for page in paginator.page_range %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page }}">
                                {{ page }}
                            </a>
                        </li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                Next
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% else %}
            <p>List is empty!</p>
        {% endif %}
    </div>
{% endblock %}