{% extends './index.html' %}
{% block title %}Import{% endblock %}
{% block content %}
    <form style="width: 500px;" action="/users/import" method="post" id="users-import-form" enctype="multipart/form-data">
        <pre class="validation-error alert alert-danger" validation-name="non_field_errors"></pre>
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleFormControlFile1">Example file input</label>
            <input type="file" name="file" class="form-control-file">
            <div class="validation-error invalid-feedback" validation-name="file"></div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
