{% extends '../list.html' %}
{% block title %}Order{% endblock %}
{% block list_block %}
    <h1>Order</h1>

    <table class="table order-block">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for orderProduct in object_list %}
            <tr class="product" data-product-id="{{orderProduct.product.id}}">
                <td>{{ orderProduct.product.name }}</td>
                <td>{{ orderProduct.product.price }}</td>
                <td>
                    <input type="number" class="counter" value="{{ orderProduct.amount }}">
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
