{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}


{% block content %}
  <div id="content-main">
    {% block object-tools %}
        {{ block.super }}
    {% endblock %}
    <div>
        <form action="/users/import"  method="post" id="users-import-form" enctype="multipart/form-data">
            {% csrf_token %}
            <b>Users import</b>
             <input type="file" name="file" class="form-control-file">
            <input type="submit" value="Import">
            <div class="validation-error invalid-feedback" validation-name="file"></div>
            <pre class="validation-error invalid-feedback" validation-name="non_field_errors"></pre>
        </form>
        <div class="clearfix"></div>
    </div>
    {% if cl.formset.errors %}
        <p class="errornote">
        {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
      {% block search %}{{ block.super }}{% endblock %}
      {% block date_hierarchy %}{{ block.super }}{% endblock %}
      {% block filters %}{{ block.super }}{% endblock %}
      <form id="changelist-form" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
          {% if cl.formset %}
            <div>{{ cl.formset.management_form }}</div>
          {% endif %}

          {% block result_list %}{{ block.super }}{% endblock %}
          {% block pagination %}{{ block.super }}{% endblock %}
      </form>
    </div>
  </div>
{% endblock %}
